<!DOCTYPE html>
<html>
<head>
    <title>Certificates List</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>All Certificates </h2>
        <table class="table table-striped-columns">
            <thead>
                <tr class="table table-primary">
                    <th>Vehicle Registration Number</th>
                    <th>Brand</th>
                    <th>Chassis Number</th>
                    <th>Vehicle Model</th>
                    <th>Certificate Number</th>
                    <th>Date Fitted</th>
                    <th>Expiry Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for certificate in certificates %}
                <tr class="table-success">
                    <td >{{ certificate.vehicle_registration_number }}</td>
                    <td>{{ certificate.brand }}</td>
                    <td>{{ certificate.chassis_number }}</td>
                    <td>{{ certificate.vehicle_model }}</td>
                    <td>{{ certificate.certificate_number }}</td>
                    <td>{{ certificate.date_fitted }}</td>
                    <td>{{ certificate.expiry_date }}</td>
                    <td>{% if certificate.certificate_status %} Active {% else %} Expired {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
